@@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
* {
 box-sizing: border-box;
	padding:0;
	margin: 0; 
}
body { 	
	  font-family: "Permanent Marker", cursive;
	  
}
section {
	padding: 50px 20px;
}
.header {
	display: flex;
	align-items:center;
	justify-content: center;
	background-image: url('./images/africa.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 20px;
	gap:50px;
}	
.header__title {
	color: #ADFF2F;
	font-size:100px;
	text-shadow: -5px -5px 3px #333;
	border-bottom: 8px double;
	flex-grow: 1;
}	
.s-info  { 
	display: flex;
	background:#A0522D
}
.s-info__content  {
	border: 1px solid red;
	display:flex;
	flex-direction:column;
	flex-grow: 1;
	border-left: 5px dotted #FF8C00;
	padding-left: 10 px;
}
.s-info__text:nth-child(3) { 
		align-self:flex-end;
		border-radius: 0  50%;
}
.s-info__text:nth-child(1) { 
		align-self:flex-start;
		border-radius:  50%;
}
.s-info__text:nth-child(2) { 
		align-self:center;
		border-radius: 0 50% 50% 50%;
}
.s-info__text {
	background-color:#ADFF2F;
	width:180px;
	height: 180px;
	font-size: 12px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: justify;
	color: #FF8C00;
	box-shadow: 3px 5px 3px #333;
}	
.s-info__img {
	margin-right: 20px;
}	